.container{
  width: 1024px;
  height: 768px;
  background-image: url(../images/farmaceutico-trabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container::before{
  content: "";
  width: 100%;
  background-image: var(--bgColor);
  filter: blur(50px);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.main{
  position: absolute;
  z-index: 1;
}