@font-face {
  font-family: "Gotham-light";
  src: url("../fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Gotham-book";
  src: url("../fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf");
}

.container {
  width: 1024px;
  height: 768px;
  font-family: "Gotham-book";
}

.home {
  background-image: url(../images/farmaceutico-trabajo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home::before {
  content: "";
  width: 100%;
  background-image: var(--bgColor);
  filter: blur(50px);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.main {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.figure {
  margin: 0 auto;
  padding: 1.3rem 2rem;
}

header {
  width: 75%;
  height: 4.5rem;
  background-image: var(--bgNav);
  clip-path: polygon(100% 0, 94% 82%, 50% 100%, 8% 82%, 0 0);
  position: relative;
}

.border {
  width: 77%;
  height: 5rem;
  background-color: var(--colorBorder);
  clip-path: polygon(100% 0, 92% 78%, 50% 100%, 10% 78%, 0 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav > ul > li {
  padding: 0 18px;
  list-style: none;
}

header li:not(:last-child) {
  border-right: 2px solid var(--colorBorder);
}

header li > a {
  text-decoration: none;
  font-family: "Gotham-light";
  font-weight: 600;
  color: var(--colorRedWineNav);
}

nav .active {
  border-top: 5px solid var(--colorRed);
  color: var(--colorRed);
  padding-top: 1rem;
}

main > .data {
  width: 50vw;
}

.data > h1 {
  padding: 5.5rem 4rem 3.5rem;
  font-size: 2.6rem;
  font-family: "Gotham-bold";
  color: var(--colorRedWine);
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  line-height: 2.7rem;
}

.data > h1 > span {
  color: var(--colorRed);
}

form {
  width: 80%;
  padding: 1rem 3.5rem;
  text-align: right;
}

form > fieldset {
  border: none;
  outline: none;
}

form input {
  width: 100%;
  padding: 0.3rem 0.4rem;
  margin: 0.4rem 0;
  border-radius: 9999px;
  border: 1px solid var(--colorRed);
  background-color: var(--colorInput);
}

form .checkList,
.checkList > label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

.checkList input {
  margin-left: 0.3rem;
  appearance: none;
  border-radius: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--colorRedCheck);
}

form .btn {
  margin-top: 0.5rem;
  padding: 0.3rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 9999px;
  background-color: var(--colorButton);
  color: var(--colorWhite);
  font-size: 0.7rem;
}

footer {
  height: 7.3rem;
  padding: 0 1.5rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    transparent 5%,
    var(--colorWhite) 50%
  );
}

footer .copy {
  width: 85%;
  padding: 1.3rem;
}

.copy > a {
  font-size: 1rem;
  color: var(--colorRed);
  text-decoration: none;
}

.copy > p {
  padding-top: 0.7rem;
  font-size: 0.55rem;
}

footer .logo {
  width: 15%;
}

.logo img {
  padding-top: 1rem;
  width: 100%;
}
